<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @crm_app_name %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <p>Your power is almost directly proportional to the thickness of your Rolodex, and the time you spend maintaining it.</p>
    </header>
    <section>
      <%= yield %>
    </section>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>  <!-- Use the unordered list and CSS style it-->
    </nav>
    <footer>
      <p>made by Heather Armstrong on August 19, 2014</p>
    </footer>
  </body>
</html>
