<!DOCTYPE html>
<html>
  <head>
    <title><%= @crm_app_name %></title>
    <link rel="stylesheet" type="text/css" href="<%= url('styles.css') %>" />
  </head>

  <body>
    <header>
      <p class="edges">Your power is almost directly proportional to the thickness of your Rolodex, and the time you spend maintaining it.</p>
    </header>
    <div>
    <%= yield %>
  </div>
    <nav>
      <p><a href="/">Home</a></p>  
    </nav>
    <footer>
      <p class="edges">made by Heather Armstrong on August 19, 2014</p>
    </footer>
  </body>
</html>
