<h1>Add a new contact</h1>

<div class="form">
  <form id="new-contact" class="form" action="/contacts" method="post">
  
  <label for="first_name">First Name</label> <input type="text" id="first_name" name ="first_name" ><br>
  <label for="last_name">Last Name</label> <input type="text" id="last_name" name="last_name"><br>
  <label for="email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <input type="email" id="email" name="email"><br>
  
  <div id="notes-div">
  <label for="notes">Notes&nbsp;</label><textarea id="notes" name="notes" cols="20" rows="5"></textarea><br>
  </div>
  
  <div id="post-notes">
  <input type="submit" name="Submit">
  </div>
  
  </form>
</div>