<h1>Search all contacts</h1>

<p>
<form id="search" class="form" action="/contacts/search">
  <label for="search">Search All Contacts</label>
<input type="text" id="search" name ="search_term">
<input type="submit">
</p>