* {
  box-sizing: border-box;
}

body {
  font-family: Lucida, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

section {
  position: relative;
  margin: 50px 20px 60px 20px;
  padding: 0 0 30px 0;
}

section > ul {
  list-style-type: none;
}

h1 {
	color: #545454;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #2F4F4F;
  margin: 0 0 0 -8px;
  padding: 0 0 0 3%;
  font-size: 0.8em;
  color: #C0C0C0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #545454;
  margin: 0 0 0 0px;
  padding: 0 0 0 0;
  font-size: 0.8em;
}

nav {
  width: 100%;
  background-color: white;
  margin: 0 0 0 -20px;
  padding: 10px 0 0 0;
  font-weight: bold;
  font-size: 1em; 
}

nav > ul {
  list-style-type: none;
}
